<div class="sectionPadding genericDetails">
  <div class="shadowCont">
    <div class="p-grid">
      <div class="p-col-12 p-lg-4">
        <div class="whiteCard">
          <img class="p-mb-3" [src]="detailsData.img"/>
          <p class="text-18 font-bold p-mb-3">{{detailsData.name}}</p>
          <p class="btnTitle">{{detailsData.title}}</p>
        </div>
      </div>
      <!--End Col-->
      <div class="p-col-12 p-lg-8">
        <p class="text-14">{{detailsData.desc}}</p>
      </div>
      <!--End Col-->
    </div>
    <!--End Row-->
  </div>
  <!--End Section-->
</div>
