<div class="sectionPadding">
  <div class="shadowCont">
    <div class="p-grid">
      <div class="p-lg-5 p-col-12">
        <div class="jobTitle" *ngIf="careers.Title">
          <i class="material-icons-outlined">work_outline</i>
          <div class="titleCont">
            <h2 class="text-20 font-bold p-mb-1 blackColor" *ngIf="lang == 'en'">
              {{ careers.Title }}
            </h2>
            <h2 class="text-20 font-bold p-mb-1 blackColor" *ngIf="lang == 'ar'">
              {{ careers.TitleAr }}
            </h2>
          </div>
        </div>
      </div>
      <!--End Col-->
      <div class="p-lg-7 p-col-12">
        <div class="jobDetails">
          <div class="detailsWidth" *ngIf="careers.ReferenceNumber">
            <p class="detailsTitle">{{ "Careers.RefrenceNum" | translate }}</p>
            <p class="detailsDesc">{{ careers.ReferenceNumber }}</p>
          </div>
          <div class="detailsWidth" *ngIf="careers.JobType || careers.JobTypeAr">
            <p class="detailsTitle">{{ "Careers.Type" | translate }}</p>
            <p *ngIf="careers.JobType && lang == 'en'" class="detailsDesc">{{ careers.JobType }}</p>
            <p *ngIf="careers.JobTypeAr && lang == 'ar'" class="detailsDesc">{{ careers.JobTypeAr }}</p>
          </div>
          <div class="detailsWidth" *ngIf="careers.Location || careers.LocationAr">
            <p class="detailsTitle">{{ "Careers.Location" | translate }}</p>
            <p *ngIf="careers.Location && lang == 'en'" class="detailsDesc">{{ careers.Location }}</p>
            <p *ngIf="careers.LocationAr && lang == 'ar'" class="detailsDesc">{{ careers.LocationAr }}</p>
          </div>
          <div class="detailsWidth" *ngIf="careers.VacancyExpiryDate">
            <p class="detailsTitle">{{ "Careers.ExpDate" | translate }}</p>
            <p class="detailsDesc">
              {{ careers.VacancyExpiryDate | formatDate }}
            </p>
          </div>
        </div>
      </div>
      <!--End Col-->
    </div>
  </div>
</div>
<div class="sectionPadding thirdSection formErrorPosition surveyCont">
  <div id="surveyElement" style="position: relative"> </div>
  <p-captcha
    #cap
    class="captcha"
    siteKey="{{ siteKey }}"
    [language]="lang ? lang : 'en'"
    (onResponse)="showResponse($event)"
    (onExpire)="onExpire()"
    style="
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    " *ngIf="!success"
  ></p-captcha>
  <div class="flex">
    <button 
    (click)="Complete()"
    class="complete">
    {{ "submit" | translate }}
    </button>
  </div>

  <p class="errorLenText errorText err-captcha" *ngIf="recaptchaErrorMsg" role="alert">
    {{ "shared.RecaptchaErrorMsg" | translate }}
  </p>

  <p class="errorText" *ngIf="extensionErrorMsg">
    {{ "shared.AttachmentErrorMsg" | translate }}
  </p>
  <br />
  <p class="errorLenText errorText" *ngIf="lengthErrorMsg">
    {{ "shared.lengthErrorMsg" | translate }}
  </p>
  <p class="errorLenText errorText cvError" *ngIf="uploadCvErrorMsg">
    {{ "shared.UploadYourCV" | translate }}
  </p>
</div>
<p-dialog
  [(visible)]="success"
  (onHide)="closeModal()"
  [modal]="true"
  [style]="{ width: '35vw' }"
  [breakpoints]="{ '960px': '90vw' }"
  [draggable]="false"
  [resizable]="false"
  role="alert"
>
  <div class="success">
    <i class="material-icons-outlined"> done </i>
    <p class="text-28 p-text-center">
      {{ "shared.SubmittedForm" | translate }}
    </p>
  </div>
</p-dialog>
