.thumb {
  height: 190px;
}

.highlights {
  padding: 40px 0;
}
.highlights .text-60 {
  padding: 0 120px;
}

.linkMore {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.linkMore {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.linkMore p {
  font: normal normal 900 12px/17px Roboto;
}
.ar :host ::ng-deep .linkMore i {
  transform: rotate(180deg);
}
.linkMore p {
  margin: 0 5px;
}

.highlights ::ng-deep .owl-theme .owl-nav {
  display: flex;
  position: absolute;
  top: -100px;
  right: 770px;
}

.ar :host ::ng-deep .highlights ::ng-deep .owl-theme .owl-nav {
  left: unset !important;
  right: 620px;
}
@media only screen and (min-width: 768px) {
  .highlights ::ng-deep .owl-carousel.owl-drag .owl-item {
    min-width: 330px !important;
    max-width: 330px;
  }
  ::ng-deep .highlightcarSection .owl-carousel.owl-drag .owl-item {
    margin-right: 25px !important;
    margin-bottom: 20px;
  }
  .ar :host ::ng-deep .highlightcarSection .owl-carousel.owl-drag .owl-item {
    margin-right: 0 !important;
    margin-left: 25px !important;
  }

  .highlights
    .first
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:first-child {
    min-width: 380px !important;
    max-width: 380px;
    transition: ease 0.2s;
  }

  .highlights
    .second
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:nth-child(2) {
    min-width: 380px !important;
    max-width: 380px;
    transition: ease 0.2s;
  }

  .highlights
    .third
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:nth-child(3) {
    min-width: 380px !important;
    max-width: 380px;
    transition: ease 0.2s;
  }

  .highlights
    .fourth
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:nth-child(4) {
    min-width: 380px !important;
    max-width: 380px;
    transition: ease 0.2s;
  }

  .highlights
    .fifth
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:nth-child(5) {
    min-width: 380px !important;
    max-width: 380px;
  }

  .highlights
    .sixth
    ::ng-deep
    .owl-carousel.owl-drag
    .owl-item.active:nth-child(6) {
    min-width: 380px !important;
    max-width: 380px;
  }
}
@media only screen and (max-width: 768px) {
  .ar :host ::ng-deep .highlightcarSection .owl-nav {
    display: flex;
    position: absolute;
    top: -100px;
    left: -10px !important;
  }
  ::ng-deep .highlightcarSection .owl-nav {
    left: 72% !important;
  }
  .highlights {
    padding: 35px 0;
  }

  .highlights .text-60 {
    padding: 0 20px;
  }

  .highlights .text-32 {
    padding: 0;
  }

  /*  .highlights ::ng-deep .owl-carousel.owl-drag .owl-item,
    .highlights .first ::ng-deep .owl-carousel.owl-drag .owl-item.active:first-child,

    .highlights .second ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(2),

    .highlights .third ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(3),

    .highlights .fourth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(4),

    .highlights .fifth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(5),

    .highlights .sixth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(6) {

      min-width: 350px !important;
      max-width: 350px;
    }*/

  .highlights ::ng-deep .owl-theme .owl-nav {
    left: 280px;
    top: -59px;
  }

  .ar :host ::ng-deep .highlights ::ng-deep .owl-theme .owl-nav {
    left: unset !important;
    right: 280px;
    top: -59px;
  }

  .highlights .text-32 {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 300px) {
  .ar :host ::ng-deep .highlightcarSection .owl-nav {
    left: 125px !important;
    top: -56px !important;
  }
}
@media only screen and (max-width: 300px) {
  ::ng-deep .highlightcarSection .owl-nav {
    left: -3px !important;
    top: -60px !important;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: landscape) {
  .highlights {
    padding: 35px 0;
  }

  .highlights .text-60 {
    padding: 0 35px;
  }

  .highlights .text-32 {
    padding: 0;
  }

  /*  .highlights ::ng-deep .owl-carousel.owl-drag .owl-item,
    .highlights .first ::ng-deep .owl-carousel.owl-drag .owl-item.active:first-child,
    .highlights .second ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(2),
    .highlights .third ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(3),
    .highlights .fourth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(4),
    .highlights .fifth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(5),
    .highlights .sixth ::ng-deep .owl-carousel.owl-drag .owl-item.active:nth-child(6) {
      min-width: 350px !important;
      max-width: 350px;
    }
*/

  .highlights ::ng-deep .owl-theme .owl-nav {
    left: 270px;
  }

  .ar :host ::ng-deep .highlights ::ng-deep .owl-theme .owl-nav {
    left: unset !important;
    right: 240px;
  }

  .highlights .text-32 {
    padding: 0 35px;
  }
}
::ng-deep .highlightcarSection .owl-nav {
  display: flex;
  position: absolute;
  top: -100px;
  left: 350px;
}
.ar :host ::ng-deep .highlightcarSection .owl-nav {
  display: flex;
  position: absolute;
  top: -100px;
  left: 505px;
}
@media only screen and (max-width: 1180px) and (min-width: 784px) {
  ::ng-deep .ar :host .highlightcarSection .owl-carousel.owl-drag .owl-item {
    width: 30% !important;
  }
  .ar :host ::ng-deep .highlightcarSection .owl-nav {
    display: flex;
    position: absolute;
    top: -100px;
    left: 0px !important;
    right: 72%;
  }
}

@media only screen and (min-width: 1800px) {
  .ar :host ::ng-deep .highlightcarSection .owl-nav {
    display: flex;
    position: absolute;
    top: -100px;
    left: 1160px !important;
  }
}
