.sectionPadding ::ng-deep .NewsContainer {
  margin: 0;
  width: 100%;
}

::ng-deep .NewsCard {
  padding-bottom: 45px !important;
}

/* .whitePaperCont ::ng-deep .NewsContainer {
  background: transparent;
  box-shadow: none
} */
