header {
  background: #fff;
  padding: 15px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px #0000000d;
  border-radius: 0px 0px 20px 20px;
}

.stickyNav {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1000;
  color: #000;
  height: 60px;
}

.stickyNav .logoCont img {
  width: 40px;
  height: 50px;
  cursor: pointer;
}

.stickyNav ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem a {
  color: #000 !important;
}

.stickyNav ::ng-deep .p-menubar .p-menubar-root-list a:-webkit-any-link {
  color: #000 !important;
}

.stickyNav .optionsCont i,
.stickyNav .optionsCont p {
  color: #000;
}
/* Logo */
.logoCont {
  display: flex;
  align-items: center;
  width: 15%;
}

.logoCont img {
  width: 126px;
  height: 160px;
  cursor: pointer;
}
/* End Logo */
header ::ng-deep .p-menubar .p-menuitem-text {
  line-height: 1.5 ;
}

/* Menu */
header ::ng-deep p-menubar {
  width: 78%;
}

header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
  color: #000000;
  margin: 0 10px;
  font: normal normal bold 12px/17px Roboto;
}

@-moz-document url-prefix() {
  header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    color: #000000;
    margin: 0 7px;
  }
}
@supports (-moz-appearance: none) {
  header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    color: #000000;
    margin: 0 7px;
  }
}
.ar
  :host
  ::ng-deep
  header
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem {
  margin: 0 18px;
}

header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem a {
  color: #000;
}

header ::ng-deep .p-menubar .p-menuitem-link {
  min-height: 35px;
}
::ng-deep
  header
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  .p-submenu-list
  .p-menuitem
  a:hover {
  /* padding: 10px; */
  color: #3c57a1 !important;
}

header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem-active > a,
header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > a:hover {
  color: #f6be00 !important;
}

header ::ng-deep .p-menubar .p-menuitem-active .p-submenu-icon {
  transform: rotate(180deg);
}

header
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem:hover
  > a:-webkit-any-link {
  color: #f6be00;
}

header ::ng-deep .p-submenu-icon {
  margin-left: 5px;
}

.ar :host ::ng-deep header ::ng-deep .p-submenu-icon {
  margin-right: 5px;
  margin-left: 0 !important;
}

header ::ng-deep .p-submenu-list::before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c1c1c1;
  position: absolute;
  top: -10px;
  left: 15px;
}

.ar :host ::ng-deep header ::ng-deep .p-submenu-list::before {
  right: 15px;
  left: unset !important;
}

header ::ng-deep .p-submenu-list {
  background: #c1c1c1 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #70707040;
  min-width: 230px;
  margin-top: 10px;
  z-index: 999;
  padding: 5px 0px;
  border-radius: 5px;
}

header ::ng-deep .p-submenu-list .p-menuitem-link {
  font-size: 12px;
  color: #000000;
  padding: 5px 10px;
  margin: 0;
}

header
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  a:-webkit-any-link {
  color: #000;
}

header ::ng-deep .p-menubar .p-submenu-list > .p-menuitem a:-webkit-any-link {
  color: #000;
}
/* End Menu */
/* Options */
.optionsCont {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: center;
  position: relative;
}

.optionsCont p {
  font: normal normal bold 12px/18px Roboto;
}

.optionsCont > p,
.optionsCont > i,
.optionsCont > a {
  margin-right: 10px;
}

.ar :host ::ng-deep .optionsCont > p,
.ar :host ::ng-deep .optionsCont > i,
.ar :host ::ng-deep .optionsCont > a {
  margin-right: 0 !important;
  margin-left: 10px;
}

.optionsCont i,
.optionsCont p {
  cursor: pointer;
}

.flipIcon {
  transform: rotateY(180deg);
}
/* End Options */
/* Search */
.transBG {
  background: transparent !important;
}

.searchIcon {
  z-index: 999;
  background: #ffffff59;
  padding: 4px;
  border-radius: 50%;
  margin: 0;
  margin-right: 0 !important;
}

.searchPopup {
  position: absolute;
  right: 75px;
  background: #c5c5c5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  top: 107px;
  width: 200px;
  z-index: 99;
}

.stickyNav .searchPopup {
  top: 45px;
}
.ar :host ::ng-deep .searchPopup {
  left: 75px;
  right: unset !important;
}

.searchPopup input {
  border: none;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  line-height: 47px;
  height: 45px;
  background: transparent;
}

.searchPopup ::ng-deep .p-placeholder {
  /*color: #596469;*/
  color: #fff;
}
.searchPopup ::ng-deep .p-dropdown-open .p-placeholder {
  color: black;
}
.searchPopup
  ::ng-deep
  .p-dropdown-open
  .p-dropdown-trigger
  .pi-chevron-down:before {
  color: black;
}
.searchPopup ::ng-deep .p-dropdown-open .p-dropdown-trigger {
  transform: rotate(180deg);
}

.searchPopup ::ng-deep .p-dropdown {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  color: #fff;
}

.searchPopup ::ng-deep .p-dropdown .p-dropdown-panel {
  background: #c5c5c5;
  padding: 10px;
  border-radius: 8px;
}

.searchPopup ::ng-deep .p-dropdown-item {
  margin-bottom: 3px;
  cursor: pointer;
}

.accessList {
  display: flex;
  margin-bottom: 25px;
}

.accessList .accessItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.accessList .accessItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.accessList .accessItem a i {
  font-size: 24px;
  color: #3c57a1;
  margin-bottom: 5px;
}

.accessList .accessItem:first-child {
  border-right: 1px solid grey;
}

.ar :host ::ng-deep .accessList .accessItem:first-child {
  border-left: 1px solid grey;
  border-right: none !important;
}

.searchCont {
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

.searchCont input {
  border: none;
  width: 80%;
  padding: 0 5px;
  font-size: 18px;
  color: #596469;
  line-height: 47px;
  height: 45px;
}

.searchCont ::placeholder {
  color: #596469;
  font-size: 18px;
}

.searchCont i {
  cursor: pointer;
  opacity: 0.5;
}

.searchCont i:hover {
  opacity: 1;
}

.access {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.access a {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 12px;
  width: 23%;
}

.ar :host ::ng-deep .access a {
  margin-right: 0 !important;
  margin-left: 15px;
}

.access a i {
  margin-right: 3px;
}

.ar :host ::ng-deep .access a i {
  margin-right: 0 !important;
  margin-left: 3px;
}
/* End Search */
/* Responsive Menu */
header ::ng-deep .p-sidebar-full {
  background: #fff;
  padding: 20px;
}

.menuIcon {
  color: #000;
  font-size: 18px;
  height: 18px;
  display: none;
}

.lghide {
  display: none;
}

.lghide img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.lghide i {
  margin: 0 5px;
}

.respHeader {
  padding: 0;
}
/* End Responsive Menu */

@media only screen and (max-width: 820px) {
  .lghide {
    display: flex;
    width: 40%;
  }

  .menuIcon {
    display: block;
    margin-left: 10px;
  }

  .ar :host ::ng-deep .menuIcon {
    margin-left: 0 !important;
    margin-right: 10px;
  }

  .smHide {
    display: none;
  }

  .logoCont {
    width: 20%;
  }

  .logoCont img {
    width: 50px;
    height: 65px;
  }

  .optionsCont {
    width: 70%;
  }

  header {
    padding: 12px 20px;
  }

  .respHeader {
    padding: 0;
  }

  .respHeader ::ng-deep .p-menubar .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .respHeader ::ng-deep .p-menubar .p-menuitem-link {
    min-height: 40px;
  }

  .respHeader ::ng-deep .p-submenu-list {
    position: relative;
    box-shadow: none;
  }

  .respHeader ::ng-deep .p-submenu-list .p-menuitem-link {
    border: none;
  }

  .respHeader ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    margin: 0;
  }

  .respHeader .lang {
    margin-top: 10px;
  }

  .access {
    align-items: flex-start;
    flex-direction: column;
  }

  .access .pi-times {
    margin-bottom: auto;
  }

  .searchCont {
    padding: 10px;
    z-index: 999;
  }

  .accessCont {
    align-items: flex-start;
  }

  .en :host ::ng-deep .user ::ng-deep .p-menu-overlay {
    right: 66px;
    left: unset !important;
  }

  .access a {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
  }

  header ::ng-deep .p-submenu-list::before {
    display: none;
  }

  .searchPopup {
    top: 55px;
    right: 40px;
  }

  .ar :host ::ng-deep .searchPopup {
    left: 40px;
    right: unset !important;
  }

  .optionsCont {
    justify-content: flex-end;
  }
  ::ng-deep
    header
    .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    .p-submenu-list
    .p-menuitem
    a:hover {
    padding: 5px 10px !important;
    color: #3c57a1 !important;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) and (orientation: landscape) {
  .lghide {
    display: flex;
    width: 30%;
  }

  .menuIcon {
    display: block;
    margin-left: 10px;
  }

  .ar :host ::ng-deep .menuIcon {
    margin-left: 0 !important;
    margin-right: 10px;
  }

  .smHide {
    display: none;
  }

  .logoCont {
    width: 20%;
  }

  .optionsCont {
    width: 30%;
  }

  .logoCont img {
    width: 50px;
    height: 60px;
  }

  header {
    padding: 12px 20px;
  }

  .respHeader {
    padding: 0;
  }

  .respHeader ::ng-deep .p-menubar .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .respHeader ::ng-deep .p-menubar .p-menuitem-link {
    min-height: 40px;
  }

  .respHeader ::ng-deep .p-submenu-list {
    position: relative;
    box-shadow: none;
    margin-top: 0;
  }

  .respHeader ::ng-deep .p-submenu-list .p-menuitem-link {
    border: none;
  }

  .respHeader ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    margin: 0;
  }

  .respHeader .lang {
    margin-top: 10px;
  }

  .access {
    align-items: flex-start;
    flex-direction: column;
  }

  .access .pi-times {
    margin-bottom: auto;
  }

  .searchCont {
    padding: 10px;
    z-index: 999;
  }

  .accessCont {
    align-items: flex-start;
  }

  .en :host ::ng-deep .user ::ng-deep .p-menu-overlay {
    right: 115px;
    left: unset !important;
  }

  .access a {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  header ::ng-deep .p-submenu-list::before {
    display: none;
  }

  .searchPopup {
    top: 55px;
    right: 80px;
  }

  .ar :host ::ng-deep .searchPopup {
    left: 80px;
    right: unset !important;
  }

  .optionsCont {
    justify-content: flex-end;
  }
}
.searchForm {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1700px) {
  header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    color: #000000;
    margin: 0 10px;
    font: normal normal bold 17px/17px Roboto;
  }
  .ar :host header ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem {
    margin: 0 27px;
  }
}
