<p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [showItemNavigators]="true" class="GallInnerCont" [numVisible]="7">
  <ng-template pTemplate="item" let-item>
    <img class="borderedImg" [src]="item.FileRef" style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img class="borderedImg" [src]="item.FileRef" style="display: block;" />
    </div>
  </ng-template>
</p-galleria>
