.partners .shadowCont img {
  width: 70%;
  margin: auto;
  cursor: pointer;
  display: block;
  max-height: 150px;
  border-radius: 15px;
}
.partners .shadowCont img:hover {
  transform:scale(1.2);
  transition:ease .5s
}
.partners .p-col-12 .shadowCont {
  min-height: 210px;
  display: flex;
}

.none-border{
  border: none;
}
