.homeSectionPadding {
  z-index: 8;
  position: relative;
}

@media (min-width: 1024px) {
  .homeSectionPadding .whiteCard {
    height: 413px;
  }
  .homeSectionPadding .whiteCard:hover .projectImg {
    height: 130px;
    object-fit: cover;
    transition: ease-out 0.3s;
  }
  .homeSectionPadding .whiteCard:hover .desc {
    height: 120px;
  }
}

@media only screen and (max-width: 768px) {
  .homeSectionPadding .whiteCard .title {
    height: auto;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
  .careersCard {
    width: 60%;
    margin: auto;
  }
}
