<div class="sectionPadding socialMed">
  <h1 class="blueColor text-28 p-mb-4 font-bold">{{'SocialMediaFeeds.Title'|translate}}</h1>
  <div class="faceCont p-mb-4">
    <app-generic-slider [slides]="facebookPosts" [title]="facebookTitle"></app-generic-slider>
  </div>
  <div class="linkedCont p-mb-4">
    <app-generic-slider [slides]="linkedInPosts" [title]="linkedInTitle"></app-generic-slider>
  </div>
  <div class="youtubeCont p-mb-4">
    <app-generic-slider [slides]="youtubePosts" [title]="youtubeTitle"></app-generic-slider>
  </div>
</div>
