<app-generic-details
  [details]="eventsData"
  [eventView]="true"
></app-generic-details>
<div class="sectionPadding eventsDet">
  <app-generic-slider
    *ngIf="photosList"
    [slides]="photosList"
  ></app-generic-slider>

  <div class="shadowCont genericSlider" *ngIf="videosList">
    <p class="text-20 blackColor">{{ videosList.VideosTitle }}</p>
    <owl-carousel-o
      [options]="customOptions"
      #carousel
      [ngClass]="{
        hideBtns: videosList.length <= 3,
        flexItems: videosList.length <= 3
      }"
    >
      <ng-container *ngFor="let slide of videosList">
        <ng-template carouselSlide [id]="slide.id">
          <div class="imgCard">
            <img
              *ngIf="slide.FileRef"
              class="thumb p-mb-2"
              [src]="slide.FileRef"
              [alt]="slide.Title"
            />
            <img [src]="slide.ThumbURL" />

            <div class="layout cursorPointer" (click)="updateVideoData(slide)">
              <img class="play" src="../../../../../assets/images/play.svg" />
            </div>
          </div>
          <p class="title text-16 p-mt-2 blueColor">{{ slide.Title }}</p>
          <!-- End Card -->
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<p-dialog
  [(visible)]="displayVideo"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
  [style]="{ width: '65vw' }"
  [draggable]="false"
  [resizable]="false"
  role="alert"
>
  <div class="videoModal">
    <iframe
      height="315"
      *ngIf="videoEmbeded"
      [src]="videoEmbeded | safeUrl"
      title="videoTitle"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    ></iframe>
    <video
      height="315"
      *ngIf="!videoEmbeded"
      [src]="videoURL"
      [title]="videoTitle"
      autoplay
    ></video>
    <p class="title text-20 p-mt-2">
      {{ videoTitle }}
    </p>
  </div>
</p-dialog>
