.NewsContainer {
  position: relative;
  display: block;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #0000000d;
  border-radius: 15px;
  opacity: 1;
  width: 90%;
  height: fit-content;
  margin: 0 auto 50px;
  padding: 20px;
}

.NewsCard {
  position: relative;
  display: inline-block;
  width: calc(94% / 3);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #00000012;
  border-radius: 18px;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  margin: 1%;
}

  .NewsCard img {
    border-radius: 16px;
    height: 184px;
    width: 100%;
  }

span.DateLabel {
  position: relative;
  display: flex;
  text-align: left;
  font: italic normal medium 18px/28px Roboto;
  letter-spacing: 0px;
  color: #646464;
  opacity: 1;
  margin: 10px 0;
}

p.Title {
  position: relative;
  display: block;
  text-align: left;
  font: normal normal bold 19px/28px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 10px;
}

p.Discription {
  position: relative;
  display: block;
  text-align: left;
  font: normal normal medium 16px/28px Roboto;
  letter-spacing: 0px;
  color: #646464;
}

.TitleCont {
  position: relative;
  display: flex;
  width: 90%;
  margin: 2% auto;
  text-align: left;
  font: normal normal bold 30px/37px Roboto;
  letter-spacing: 0px;
  color: #3C57A1;
}

  .TitleCont button {
    background: #F6BE00 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: #fff;
    padding: 20px;
    display: flex;
    margin-left: auto;
    border: navajowhite;
    cursor: pointer;
    font: normal normal normal 18px/22px Roboto;
  }

@media screen and (max-width: 480px) {
  .NewsCard {
    width: 100%;
  }
}
