<div class="TitleCont">
  <h4>News</h4>
  <button>Archived News</button>
</div>
<div class="NewsContainer">
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>
  <div class="NewsCard">
    <img src="../../../../../assets/images/mission.png" />
    <span class="DateLabel">13 January 2021</span>
    <p class="Title">predictions and decisions By 2030, AI is forecast</p>
    <p class="Discription">Artificial Intelligence (AI) and specifically, data-driven methods s Machine Learning are a promising radical transformation of the economic and social systems worldwide. It helps people make better predictions and decisions. By 2030, AI is forecast to add $15 trillion to global economy.</p>
  </div>

</div>
